[".local/bin/carapace"]
type = "archive-file"
url = {{ gitHubLatestReleaseAssetURL "carapace-sh/carapace-bin" (printf "carapace-bin_*_%s_%s.tar.gz" .chezmoi.os .chezmoi.arch) | quote }}
executable = true
path = "carapace"
