{{ if not .headless }}
[".config/ghostty/themes"]
type = "archive"
url = "https://github.com/catppuccin/ghostty/archive/refs/heads/main.zip"
refreshPeriod = "168h"
include = ["**/themes/*.conf"]
stripComponents = 2
{{ end }}
