{{ if eq .chezmoi.os "linux" }}
[".local/share"]
type = "archive"
url = "https://github.com/neovim/neovim/releases/download/{{ .neovim_version }}/nvim-linux-x86_64.tar.gz"
refreshPeriod = "168h"
{{ end }}
