{{- $email := "sandorrobertk94@gmail.com" -}}
{{- $name := "Robert Sandor" -}}

{{- $headless := true -}}
{{- if eq .chezmoi.os "darwin" -}}
{{-   $headless = false -}}
{{- else if stdinIsATTY -}}
{{-   $headless = promptBoolOnce . "headless" "headless" false -}}
{{- end -}}

{{- $font := "JetbrainsMono Nerd Font" -}}

{{- $osID := .chezmoi.os -}}
{{- if (and (eq .chezmoi.os "linux") (hasKey .chezmoi.osRelease "id")) -}}
{{-   $osID = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{- $fontSize := 11 -}}
{{- if eq .chezmoi.os "darwin" -}}
{{-   $fontSize = 14 -}}
{{- end -}}

{{- $shell := env "SHELL" -}}
{{- if findExecutable "fish" (list "/opt/homebrew/bin" "/home/linuxbrew/.linuxbrew/bin" "/usr/bin" ) -}}
{{-   $shell = findExecutable "fish" (list "/opt/homebrew/bin" "/home/linuxbrew/.linuxbrew/bin" "/usr/bin" ) -}}
{{- end -}}

[data]
email = {{ $email | quote }}
name = {{ $name | quote }}
headless = {{ $headless }}
font = {{ $font | quote }}
fontSize = {{ $fontSize }}
osid = {{ $osID | quote }}
shell = {{ $shell | quote }}
neovim_version = "v0.12.2"

[diff]
command = "delta"
pager = "less -FR"

[merge]
    command = "nvim"
    args = [
        "-d",
        {{ printf "%q" "{{ .Destination }}" }},
        {{ printf "%q" "{{ .Source }}" }},
        {{ printf "%q" "{{ .Target }}" }},
    ]
