{{- $email := "sandorrobertk94@gmail.com" -}}
{{- $name := "Robert Sandor" -}}
{{- $work := false -}}
{{- $headless := true -}}
{{- if eq .chezmoi.os "darwin" -}}
{{-   $headless = false -}}
{{- end -}}

{{- if stdinIsATTY -}}
{{-   $email = promptStringOnce . "email" "git email" $email -}}
{{-   $name = promptStringOnce . "name" "git name" $name -}}
{{-   $work = promptBoolOnce . "work" "work machine" false -}}
{{-   if eq .chezmoi.os "linux" -}}
{{-     $headless = promptBoolOnce . "headless" "headless" false -}}
{{-   end -}}
{{- end -}}

{{- $font := "JetbrainsMono Nerd Font" -}}

{{- $osID := .chezmoi.os -}}
{{- if (and (eq .chezmoi.os "linux") (hasKey .chezmoi.osRelease "id")) -}}
{{-   $osID = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{- $fontSize := 10 -}}
{{- if eq .chezmoi.os "darwin" -}}
{{-   $fontSize = 14 -}}
{{- end -}}

{{- $fishPaths := list "/opt/homebrew/bin" "/usr/local/bin" "/home/linuxbrew/.linuxbrew/bin" "/usr/bin" -}}
{{- $fishPath := findExecutable "fish" $fishPaths -}}
{{- $shell := env "SHELL" -}}
{{- if $fishPath -}}
{{-   $shell = $fishPath -}}
{{- end -}}

[data]
email = {{ $email | quote }}
name = {{ $name | quote }}
headless = {{ $headless }}
work = {{ $work }}
font = {{ $font | quote }}
fontSize = {{ $fontSize }}
osid = {{ $osID | quote }}
shell = {{ $shell | quote }}
neovim_version = "v0.12.5"
chezmoi_version = "v2.72.2"

[scriptEnv]
OSID = {{ $osID | quote }}
HEADLESS = "{{ $headless }}"
WORK = "{{ $work }}"

[diff]
command = "delta"
pager = "less -FR"

[merge]
    command = "nvim"
    args = [
        "-d",
        {{ printf "%q" "{{ .Destination }}" }},
        {{ printf "%q" "{{ .Source }}" }},
        {{ printf "%q" "{{ .Target }}" }},
    ]
