{{- $email := "sandorrobertk94@gmail.com" -}}
{{- $name := "Robert Sandor" -}}

{{- $headless := true -}}
{{- if stdinIsATTY -}}
{{-   $headless := promptBoolOnce . "headless" "headless" false -}}
{{- end -}}

{{- $font := "JetBrainsMono Nerd Font" -}}

{{- $osID := .chezmoi.os -}}
{{- if (and (eq .chezmoi.os "linux") (hasKey .chezmoi.osRelease "id")) -}}
{{-   $osID = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{- $fontSize := 12 -}}
{{- if eq $osID "darwin" -}}
{{-   $fontSize := 14 -}}
{{- end -}}

[data]
email = {{ $email | quote }}
name = {{ $name | quote }}
headless = {{ $headless }}
font = {{ $font | quote }}
fontSize = {{ $fontSize }}
osid = {{ $osID | quote }}

[diff]
command = "delta"
pager = "less -FR"

[merge]
    command = "nvim"
    args = [
        "-d",
        {{ printf "%q" "{{ .Destination }}" }},
        {{ printf "%q" "{{ .Source }}" }},
        {{ printf "%q" "{{ .Target }}" }},
    ]
