{{- if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash
set -eo pipefail

if [[ $(command -v brew) == "" ]]; then
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

# brew bundle install --cleanup --file ~/.config/Brewfile

{{ end -}}
