font-family = {{ .terminal.font }}
font-size = {{ .terminal.fontSize }}
adjust-cell-height = 20%
font-thicken = true

theme = dark:catppuccin-mocha.conf,light:catppuccin-latte.conf

window-padding-balance = true
window-padding-x = 8
window-padding-y = 8

command = {{ findExecutable "fish" (list "/opt/homebrew/bin" "/home/linuxbrew/.linuxbrew/bin" "/usr/bin" "/bin" ) }}
shell-integration = fish
shell-integration-features = cursor,sudo,title,ssh-env,ssh-terminfo

macos-option-as-alt = true

confirm-close-surface = false

keybind = super+alt+k=goto_split:up
keybind = super+alt+j=goto_split:down
keybind = super+alt+l=goto_split:right
keybind = super+alt+h=goto_split:left

keybind = super+r=reload_config
