font-family = {{ .font }}
font-size = {{ .fontSize }}
adjust-cell-height = 2

theme = dark:catppuccin-mocha.conf,light:catppuccin-latte.conf

window-padding-balance = true
window-padding-x = 4
window-padding-y = 4

command = {{ .shell | quote }}
shell-integration-features = cursor,sudo,title,ssh-env

macos-option-as-alt = true

confirm-close-surface = false

keybind = super+alt+k=goto_split:up
keybind = super+alt+j=goto_split:down
keybind = super+alt+l=goto_split:right
keybind = super+alt+h=goto_split:left

keybind = super+r=reload_config
