// Input - https://github.com/YaLTeR/niri/wiki/Configuration:-Input
input {
  keyboard {
    xkb {
      layout "us" // Use the American keyboard layout
      options "caps:escape" // Make caps lock a second escape key
    }
    numlock // Enable numlock on startup
    repeat-delay 200
    repeat-rate 25
  }

  touchpad {
    natural-scroll // Enable natural (macOS-style) scrolling
    scroll-factor 0.25 // Reduce scrolling speed
    dwt
    click-method "clickfinger"
  }

  mouse {
    accel-profile "flat" // Disable mouse acceleration
  }

  workspace-auto-back-and-forth // Enable workspace back & forth switching
}

// Switch events - https://github.com/niri-wm/niri/wiki/Configuration:-Switch-Events
// todo - figure out how to handle laptop lid closing to go to sleep


// Layout - https://github.com/niri-wm/niri/wiki/Configuration:-Layout
layout {
  gaps 4
  center-focused-column "on-overflow" // Center focused window if it doesn't fit on screen together with the previously focused column.
  always-center-single-column

  preset-column-widths {
    proportion 0.33333
    proportion 0.5
    proportion 0.66667
  }

  default-column-width { proportion 0.5; }

  preset-window-heights { proportion 0.5; }

  border {
    on
    width 2
    active-color "#fab387"
    urgent-color "#f38ba8"
  }

  focus-ring { off; }

  insert-hint { color "#fab38780"; }

  background-color "transparent" // needed to allow other programs to set wallpapers
}

// Miscellaneous - https://github.com/niri-wm/niri/wiki/Configuration:-Miscellaneous
// Startup apps
spawn-sh-at-startup "/usr/lib/polkit-kde-authentication-agent-1 &"
// spawn-sh-at-startup "qs -c noctalia-shell"

prefer-no-csd // tell windows to not draw client-side decorations
screenshot-path null // disables saving screenshots to disk, will only copy to clipboard

// todo - figure out why these env variables are set and if we want to keep them
environment {
  XDG_CURRENT_DESKTOP "niri"
  QT_QPA_PLATFORM "wayland"
  ELECTRON_OZONE_PLATFORM_HINT "auto"
  QT_QPA_PLATFORMTHEME "gtk3"
  QT_QPA_PLATFORMTHEME_QT6 "gtk3"
  QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
  XDG_SESSION_TYPE "wayland"
}

cursor { hide-when-typing; }

overview {
  zoom 0.75
  workspace-shadow { off; }
}

hotkey-overlay { skip-at-startup; } // Don't show the hotkey overlay on startup

// Window rules - https://github.com/niri-wm/niri/wiki/Configuration:-Window-Rules
window-rule {
  geometry-corner-radius 12
  clip-to-geometry true
  draw-border-with-background false
}

// Layer rules - https://github.com/niri-wm/niri/wiki/Configuration:-Layer-Rules
layer-rule {
  match namespace="^quickshell$"
  place-within-backdrop true
}

layer-rule {
  match namespace="dms:blurwallpaper"
  place-within-backdrop true
}

// Animations - https://github.com/niri-wm/niri/wiki/Configuration:-Animations
animations { slowdown 0.5; } // Speed up animations 2x from default

// Recent windows - https://github.com/niri-wm/niri/wiki/Configuration:-Recent-Windows
recent-windows {
  highlight {
    corner-radius 12
    active-color "#fab387"
    urgent-color "#f38ba8"
  }
}

// Debug options - https://github.com/niri-wm/niri/wiki/Configuration:-Debug-Options
debug {
  // Allows notification actions and window activation from Noctalia.
  honor-xdg-activation-with-invalid-serial
}


// ────────────── Startup Applications ──────────────
// https://github.com/YaLTeR/niri/wiki/Configuration:-Miscellaneous#spawn-sh-at-startup
include "keybinds.kdl"

// DMS config files
// include "./dms/colors.kdl"
// include "./dms/layout.kdl"
// include "./dms/alttab.kdl"
// include "./dms/binds.kdl"

// Include any host specific overrides
include "./outputs.kdl"
