include "input.kdl"
include "layout.kdl"
include "rules.kdl"
include "startup.kdl"
include "environment.kdl"
include "keybinds.kdl"
include "outputs.kdl"

// Managed by Noctalia
include optional=true "noctalia.kdl"
