// Miscellaneous - https://github.com/niri-wm/niri/wiki/Configuration:-Miscellaneous
prefer-no-csd // prefer no CSD
screenshot-path null // screenshots to clipboard only

environment {
  QT_QPA_PLATFORM "wayland"
  ELECTRON_OZONE_PLATFORM_HINT "auto"
  QT_QPA_PLATFORMTHEME "gtk3"
  QT_QPA_PLATFORMTHEME_QT6 "gtk3"
  QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
}

cursor {
  hide-when-typing
}

hotkey-overlay {
  skip-at-startup
}

debug {
  honor-xdg-activation-with-invalid-serial // Allows notification actions and window activation from Noctalia.
}
