// Input - https://github.com/YaLTeR/niri/wiki/Configuration:-Input
input {
  keyboard {
    xkb { layout "us"; options "caps:escape"; }
    repeat-delay 200
  }
  mouse { accel-profile "flat"; } // Disable mouse acceleration
  touchpad { natural-scroll; scroll-factor 0.5; dwt; click-method "clickfinger"; }
}

// Switch events - https://github.com/niri-wm/niri/wiki/Configuration:-Switch-Events
// todo - figure out how to handle laptop lid closing to go to sleep
switch-events { lid-close { spawn "noctalia msg session lock"; }; }
