// Layout - https://github.com/niri-wm/niri/wiki/Configuration:-Layout
layout {
  gaps 8
  center-focused-column "on-overflow"
  always-center-single-column
  preset-column-widths { proportion 0.33; proportion 0.5; proportion 0.67; proportion 1.0; }
  default-column-width { proportion 1.0; }
  preset-window-heights { proportion 0.5; }
  shadow { on; }
  focus-ring { width 2; }
  background-color "transparent"
}

// Animations - https://github.com/niri-wm/niri/wiki/Configuration:-Animations
animations { slowdown 0.5;} // Speed up animations 2x from default

// Recent windows - https://github.com/niri-wm/niri/wiki/Configuration:-Recent-Windows
recent-windows {
  highlight {
    corner-radius 12
    active-color "#fab387"
    urgent-color "#f38ba8"
  }
}
