// Layout - https://github.com/niri-wm/niri/wiki/Configuration:-Layout
layout {
  center-focused-column "on-overflow"
  always-center-single-column
  background-color "transparent"

  default-column-width {
    proportion 1.0
  }

  preset-column-widths {
    proportion 0.5
    proportion 1.0
  }

  preset-window-heights {
    proportion 0.5
    proportion 1.0
  }

  shadow {
    on
  }

  focus-ring {
    width 2
  }

  gaps 8
  struts {
    left 4
    right 4
    top 4
    bottom 4
  }

}

// Animations - https://github.com/niri-wm/niri/wiki/Configuration:-Animations
animations {
  slowdown 0.5 // Speed up animations 2x from default
}

// Recent windows - https://github.com/niri-wm/niri/wiki/Configuration:-Recent-Windows
recent-windows {
  highlight {
    corner-radius 12
  }
}
