brew "ansible"
brew "ansible-language-server"
brew "ansible-lint"
brew "bat"
brew "bitwarden-cli"
brew "btop"
brew "carapace"
brew "chezmoi"
brew "docker"
brew "docker-compose"
brew "docker-compose-langserver"
brew "dust"
brew "eza"
brew "fd"
brew "ffmpeg"
brew "fish"
brew "fzf"
brew "git"
brew "git-delta"
brew "go"
brew "imagemagick"
brew "lazygit"
brew "lua-language-server"
brew "usage"
brew "mise"
brew "neovim"
brew "nmap"
brew "p7zip"
brew "podman"
brew "podman-compose"
brew "poppler"
brew "prettierd"
brew "ripgrep"
brew "rsync"
brew "shellcheck"
brew "shfmt"
brew "starship"
brew "stylua"
brew "tealdeer"
brew "tmux"
brew "tree-sitter-cli"
brew "uv"
brew "websocat"
brew "xh"
brew "yaml-language-server"
brew "yazi"
brew "zoxide"

{{ if eq .osid "darwin" }}
brew "docker-credential-helper"
brew "lima"
brew "mas"

cask "appcleaner"
cask "balenaetcher"
cask "betterdisplay"
cask "claude"
cask "claude-code"
cask "discord"
cask "font-jetbrains-mono-nerd-font"
cask "freecad"
cask "ghostty"
cask "google-chrome"
cask "iina"
cask "jellyfin-media-player"
cask "localsend"
cask "nextcloud"
cask "obsidian"
cask "orcaslicer"
cask "proton-mail"
cask "protonvpn"
cask "raycast"
cask "rectangle"
cask "signal"
cask "tailscale-app"
cask "tidal"
cask "todoist-app"
cask "unnaturalscrollwheels"
cask "zed"
cask "zen"

mas "Amperfy", id: 1530145038
mas "Bitwarden", id: 1352778147
mas "WhatsApp", id: 310633997
mas "WireGuard", id: 1451685025
{{ end }}
